.common {
  &__button {
    padding: 12px 28px;

    color: $default-white;

    border: 1px solid $default-white;

    transition: all 0.2s;
    cursor: pointer;

    &-link {
      text-transform: uppercase;

      font-size: 18px;

      letter-spacing: 0.1em;
    }

    &:hover {
      background-color: $default-white;
      color: $default-black;
    }
  }

  &__title {
    color: $default-white;

    font-family: $snazzyFont;
    font-weight: bold;

    font-size: 36px;

    text-transform: uppercase;
  }

  &__separator {
    width: 120px;
    height: 1px;

    background-color: $default-white;
  }

  &__product-item {
    .product-item {
      &__image-container {
        min-width: 260px;
        padding: 55px 22px;

        display: flex;
        align-items: center;
        justify-content: center;

        background-color: $news-black;
      }

      &__label {
        margin-top: 25px;

        font-family: $snazzyFont;
        font-size: 18px;

        color: $default-white;
      }

      &__price {
        margin-top: 10px;

        font-family: $snazzyFont;
        font-weight: bold;

        font-size: 16px;

        color: $light-gray;
      }
    }
  }
}
