@font-face {
  font-family: 'PTSans';
  src: url('../fonts/PT_Sans/PTSans-Regular.ttf') format('truetype');

  font-style: normal;
  font-weight: normal;
}

@font-face {
  font-family: 'PTSans';
  src: url('../fonts/PT_Sans/PTSans-Bold.ttf') format('truetype');

  font-style: normal;
  font-weight: bold;
}

@font-face {
  font-family: 'PTSans';
  src: url('../fonts/PT_Sans/PTSans-BoldItalic.ttf') format('truetype');

  font-style: italic;
  font-weight: bold;
}

@font-face {
  font-family: 'PTSans';
  src: url('../fonts/PT_Sans/PTSans-Italic.ttf') format('truetype');

  font-style: italic;
  font-weight: normal;
}

@font-face {
  font-family: 'Post No Bills Jaffna';
  font-style: normal;
  font-weight: normal;
  src: url('../fonts/Post_no_bills/PostNoBillsJaffna-Regular.woff')
    format('woff');
}

@font-face {
  font-family: 'Post No Bills Jaffna';
  font-style: normal;
  font-weight: bold;
  src: url('../fonts/Post_no_bills/PostNoBillsJaffna-Bold.woff') format('woff');
}

@font-face {
  font-family: 'Playfair Display';
  font-style: normal;
  font-weight: normal;
  src: url('../fonts/Playfair_Display/PlayfairDisplay-Regular.ttf')
    format('truetype');
}

@font-face {
  font-family: 'Playfair Display';
  font-style: normal;
  font-weight: bold;
  src: url('../fonts/Playfair_Display/PlayfairDisplay-Bold.ttf') format('truetype');
}

@font-face {
  font-family: 'FontAwesome';
  src: url('../fonts/fontawesome-webfont.ttf') format('truetype');    
  font-weight: normal;    
  font-style: normal;
}