/* Vars:
  ========================================================================== */

// Font
$mainFont: 'PTSans', 'Montserrat', Helvetica, Arial, sans-serif;
$logoFont: 'Post No Bills Jaffna', 'Montserrat', Helvetica, Arial, sans-serif;
$snazzyFont: 'Playfair Display', 'Montserrat', Helvetica, Arial, sans-serif;

// Size
$mainFontColor: #000000;
$mainFontSize: 16px;
$mainFontWeight: 400;
$mainLineHeight: 1.4;

$desktopWidth: 1280px;
$smDesktopWidth: 1024px;
$tableWidth: 768px;
$smTableWidth: 640px;
$phoneWidth: 480px;
$smPhoneWidth: 320px;

// Main color
$default-black: #000;
$default-white: #fff;

$medium-black: #0F0F0F;
$light-black: #1F1F1F;
$news-black: #191B1C;

$default-gray: #969696;
$light-gray: #D0D0D0;

// Components
$footer-input-bg: rgba(255, 255, 255, 0.4);