/* Vars:
  ========================================================================== */

// Font
$mainFont: 'PTSans', 'Montserrat', Helvetica, Arial, sans-serif;
$logoFont: 'Post No Bills Jaffna', 'Montserrat', Helvetica, Arial, sans-serif;

// Size
$mainFontColor: #000000;
$mainFontSize: 14px;
$mainFontWeight: 400;
$mainLineHeight: 1.4;

$desktopWidth: 1280px;
$smDesktopWidth: 1024px;
$tableWidth: 768px;
$smTableWidth: 640px;
$phoneWidth: 480px;
$smPhoneWidth: 320px;

/*
  All colors taken from:
  https://github.com/vedees/uimini
*/

// Main color
$default-black: #000;
$default-white: #fff;

$medium-black: #0F0F0F;
$light-black: #1F1F1F;

$default-gray: #969696;
