.brands {
  padding-top: 60px;
  padding-bottom: 74px;

  background-color: $medium-black;

  &__container {
    display: flex;
    flex-direction: column;

    align-items: center;
    justify-content: center;
  }

  &__separator {
      margin: 40px 0;
  }

  &__items-list {
      width: 100%;
      
      display: flex;
      justify-content: space-between;
  }
}
